<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Verification!</title>
    <style>
      body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #121212; color: #eee; display: flex; flex-direction:
      column; justify-content: center; align-items: center; height: 100vh;
      margin: 0; } .message { font-size: 2.5rem; margin-bottom: 1rem; }
      .message.verified { color: #4CAF50; } .message.not-verified { color:
      #F44336; } .note { font-size: 1.25rem; background: #333; padding: 1rem
      2rem; border-radius: 8px; box-shadow: 0 0 10px rgba(76, 175, 80, 0.67);
      max-width: 400px; text-align: center; } .note.not-verified { box-shadow: 0
      0 10px rgba(244, 67, 54, 0.67); }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>